body{
font-family:Arial;
margin:0;
background:#fafafa;
}

nav{
display:flex;
justify-content:space-between;
padding:20px 50px;
background:white;
box-shadow:0 2px 10px rgba(0,0,0,0.1);
}

.hero{
text-align:center;
padding:120px 20px;
background:linear-gradient(135deg,#ffecd2,#fcb69f);
}

.btn{
background:black;
color:white;
padding:15px 30px;
text-decoration:none;
}

.form{
width:300px;
margin:100px auto;
display:flex;
flex-direction:column;
gap:15px;
}

.card{
background:white;
padding:20px;
margin:20px;
box-shadow:0 5px 15px rgba(0,0,0,0.1);
}

.author{
font-size:12px;
color:gray;
}
